body {
    margin:30px;
    padding:0;
    overflow: hidden;
    background-color: #313131;
}
canvas {
    margin-top: 2%;
}

p {
    color: aliceblue;
    font-family: 'Slabo 27px', serif;
    font-weight: 500;
    font-size: 22px;
}

h1 {
    color: #FF4B7D;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
}

button {
    font-family: 'Slabo 27px', serif;
    font-weight: 500;
    font-size: 18px;
    width: 110px;
}

.p1 {
    margin-top: 2%;
    font-style: italic;
}

